.h2{
  font-size: 15pt;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}


  h3, .h2 {
    color:#010101;
    padding: 0% 15%;
  }

  .h4{
    font-size: 60px;
    padding-left: 15%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
  }
  

  .aaa{
    left: 50%;
  }

  .cc-profile-image img {
    position: relative;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: 0;
    margin: 0;
    border: 15px solid transparent;
    z-index: 9999;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
  }


  .page-header .container > .content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 15px;
    color: #FFFFFF;
    width: 100%;
    max-width: 880px;
  }

  .page-header .page-header-image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .bar{
    background: #010101;
    display: block;
    height: 10px;
    border: 1px solid rgba(0,0,0,0,0.3);
    border-radius: 3px ;
    box-shadow: 0 0 10px #f1f1f1;
     width: 70%;
  }


  .bar span{
    height: 8px;
    float: left;
    background: #F1f1f1;
  }

  .photoshop{
    width: 60%;
  }

  .photography{
    width: 80%;
  }

  .html{
    width: 20%;
  }

  .java{
    width: 20%;
  }

  nav {
    float: left;
    width: 75%;
    height: 1000px
  }

  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: right;
    width: 25%;
    background-color: #f1f1f1;
    height: 753px;
    position: fixed;
    right: 0;
  }
  
  section:after {
    content: "";
    display: table;
    clear: both;
  }

  .slider-container{
    height: 753px;
    width: auto;
    overflow: hidden; 
  
  }
  .info-container{
    height: auto;
    width: 75%;
    position: absolute;
    overflow: hidden; 
    
    
  }

  .title{
    background: #010101;
    color: #f2f2f2;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 30px;
    text-align: center;
  }
  
  .menu {
    position: absolute;
    left: 0;
    z-index: 900;
    width: 100%;
    bottom: 0;
    padding-left: 135px;

  }
  
  .menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50px;
    margin: 0 .2em 1em;
    transition: all .3s ease;
  }
  
  .slide {
    width: 423px;
    height: 753px;
    position: absolute;
    top: 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s .75s;
  }
  
  [id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left .65s ease-out;
  }
  
  .slide-1 {
    background-image: url("https://lh3.googleusercontent.com/uzKVIAz3maHRn7zEuuzOgXsSNXzJWoHg_TkrpOWu0hqRKDQVIw8_7HAxY5ZtPSF9fqG8gZ1nNO2Lct_W-x5lyg3AzETzpMJgelu_TZS9Ob1VY73eRXENPhWEcwZYPo8mOz7HzNlZBQ=w2400");
  }
  .slide-2 {
    background-image: url("https://lh3.googleusercontent.com/wtikXy8cKvBOc5HZyZibMeRuD5NxJPhpHKlxvReJtJAbT_IeS9_j1tHvSFJWR03VMVkYRZ62GB8Ac3diod8vICEzm_vkkPGSWRQtQW8MSsBJZECvV9okNZIQonMsjuigPlf9PpkDww=w2400");
  }
  .slide-3 {
    background-image: url("https://lh3.googleusercontent.com/2Fgow9Lk7H2cpzQRirm1QjOl9NGRQzZH-LXvyV_D7iEnzolkzhad6pMivZinfvwBp9md842IKgR3z90k0CL5A51CqtEL0ANq8XB4GRZmGEfch3lqZZCeW6PgC5tYYSQpuhdkPhSElQ=w2400");
  }
  .slide-4 {
    background-image: url("https://lh3.googleusercontent.com/haDwSWolTBbd_kAjEfTvac3oTbLnSxQfPC68UR6uogivuInepv7HBfgJ7iUuUmg6NCSTs-yXNVKFYsHDR4yyEjl-gmblzDVmGnNv1QxV6pHrV-IOxwKjPpHo_1GHVIYMGgNf48-d_g=w2400");
  }

a {
  color: #6c6d6d;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  letter-spacing: 0.3em;
  font-size: 0.6em;
  font-weight: 400;
  padding: 0.3rem 1rem;
  margin: 1.9rem 0 0 0;
  float: right;
}
a:hover {
  color: white;
  background: #004ffc;
  border-bottom: 0.35em solid black;
}
strong {
  font-weight: 600;
}
h1 {
  font-family: 'Saira', sans-serif;
  letter-spacing: 1.5px;
  color: white;
  font-weight: 400;
  font-size: 2.4em;
}
#timeline-content {
  margin-top: 50px;
  text-align: center;
}
/* Timeline */
.timeline {
  border-left: 4px solid #000000;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(255, 255, 255, 0.03);
  color: #333;
  font-family: 'Chivo', sans-serif;
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 30%;
}
.timeline h1 {
  font-family: 'Saira', sans-serif;
  letter-spacing: 1.5px;
  font-weight: 100;
  font-size: 1.4em;
}
.timeline h2,
.timeline h3 {
  font-family: 'Saira', sans-serif;
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 1.4em;
}
.timeline .event {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -217.5px;
  color: black;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
  font-family: 'Saira', sans-serif;
}
.timeline .event:after {
  box-shadow: 0 0 0 4px #000000;
  left: -57.85px;
  background: black;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

.iconnav{
position: absolute;
  top: 65%;
  left: 44%;
  text-align: center;

}